//- common modal template
//- .modal#modalId(aria-hidden="true")
//-     .modal__overlay(tabindex="-1" data-micromodal-close="")
//-         .modal__dialog(role="dialog" aria-modal="true" aria-labelledby="title")
//-             header
//-                 h2
//-                     | title
//-                 button.modal__close(aria-label="Close modal" data-micromodal-close="")
//-                     +icon('close')