mixin doc-header(title = 'Заголовок', color='#808080')
    meta(charset='utf-8' lang='ru-Ru')
    meta(name='keywords', content='')
    meta(content='IE=edge')&attributes({'http-equiv': "X-UA-Compatible"})
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title !{title}
    link(rel='icon' type='image/png' href='/favicon_16.png' sizes='16x16')  
    link(rel='icon' type='image/png' href='/favicon_32.png' sizes='32x32')  
    link(rel='icon' type='image/png' href='/favicon_96.png' sizes='96x96')  
    meta(name="theme-color" content=color)