$tablet: '(min-width: 768px)';
$laptop: '(min-width: 1024px)';
$desktop: '(min-width: 1280px)';

$font: 'Montserrat', Helvetica, Arial, sans-serif;

$theme-color: #f05133;
$theme-color-light: #f8fafc;

$text-color: #333;
$text-color-white: #fff;
$darkgrey: #999;
$grey: #e5e5e5;

$accent-color: #eb5757;